html, body{width: 100%; margin: 0 auto; font-family: Helvetica;}

*{text-decoration: none; list-style: none; border: none;}

.container{
    display: grid;
    grid-template-columns: 0 3fr;
    grid-column-gap: 50px;
    grid-template-rows: 84px;
}

header{
    grid-column-start: 2;
    grid-column-end: 3;
}

header h1 a{
    color: #DF0101;
}

.mainBox{
    grid-template-columns: 0 3fr 3fr;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-template-rows: 100px;
    display: grid;
}

.formSearchUser{
    grid-column-start: 2;
    grid-column-end: 2;
}

.userBox{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-column-gap: 32px;
    border-top: 2px #214478 solid;
    border-bottom: 2px #214478 solid;
    border-radius: 15px;
}

.userBox img{
    width: 180px;
    height: 180px;
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 5px;
}

.userDetails{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    border-right: 2px #214478 solid;
    border-bottom: 4px #214478 solid;
    border-left: 2px #214478 solid;
}

.emailContact{
    grid-column-start: 1;
}

.repoBox{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
}

li span{
    font-weight: bold;
}

label{
    font-weight: bold;
}

form input[type="text"] {
    width: 250px;
    height: 35px;
    background: #e6eff8;
    border-bottom: 2px #214478 solid;
    border-left: 2px #214478 solid;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 97px;
    height: 42px;
    background: #214478;
    font: 18px Helvetica;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.bioUser{
    grid-row-start: 2;
    grid-column-start: 2;
    line-height: 20px;
}

h2{
    font-size: 18px;
}