<form class="formSearchUser">
	<label for="busca">Buscar Username do Github</label><br>
	<input type="text" id="busca" ng-model="username">
	<input type="submit" ng-click="searchRepo(username)" value="Buscar">
</form>

<section class="userBox">
	<h2 ng-bind="login"></h2>
	<img ng-src="{{avatar_url}}">
	<ul class="userDetails">
		<li>
			<span>Seguidores:</span> {{followers}}
		</li>
		<li>
			<span>Seguindo:</span> {{following}}
		</li>
	</ul>
	
	<p ng-bind="email" class="emailContact"></p>
	<p ng-bind="bio" class="bioUser"></p>
</section>

<ul class="repoBox">
	<li ng-repeat="name in repos | orderBy:'-stargazers_count'">
		<p>{{name.name}}</p>
		<p>{{name.description}}</p>
		<p>{{name.stargazers_count}}</p>	
		<p>{{name.language}}</p>
		<a ng-href="{{name.html_url}}" ng-click="showDetailsRepo">{{name.name}}</a>
	</li>
</ul>

<p ng-bind-html="incorrectUsername" class="errorSearch"></p>