<form class="formSearchUser">
	<label for="busca">Buscar Username do Github</label><br>
	<input type="text" id="busca" ng-model="username">
	<input type="submit" ng-click="searchRepo(username)" value="Buscar">
</form>

<a ng-href="/teste" class="resultUser" ng-click="showDetailsUser">{{login}}</a>

<section class="userBox" ng-repeat="testando in user">
	<h2 ng-bind="user.login"></h2>
	<img ng-src="{{user.avatar_url}}">
	<ul class="userDetails">
		<li>
			<span>Seguidores:</span> {{user.followers}}
		</li>
		<li>
			<span>Seguindo:</span> {{user.following}}
		</li>
	</ul>
	
	<p ng-bind="user.email" class="emailContact"></p>
	<p ng-bind="user.bio" class="bioUser"></p>
</section>

<!--ul class="repoBox">
	<li ng-repeat="name in repos | orderBy:'-stargazers_count'">
		<h3>{{name.name}}</h3>
		<p>{{name.description}}</p>
		<h4>✰ {{name.stargazers_count}}</h4>	
		<p class="languageRepo">[ {{name.language}} ]</p>
		<a ng-href="{{name.html_url}}" ng-click="showDetailsRepo">{{name.name}}</a>
	</li>
</ul !-->

<p ng-bind-html="incorrectUsername" class="errorSearch"></p>